---
import MainLayout from '@/layouts/MainLayout.astro';
const hasAccess = Astro.locals.permissions?.includes('010100');
if (!hasAccess) {
  return Astro.redirect("/");
}
---
<MainLayout>
    <h1>Users here</h1>
</MainLayout>
