---
import MainLayout from '@/layouts/MainLayout.astro';
---
<MainLayout title="Profiles">
  <div>
		<div class="flex flex-1 flex-col gap-4">
			<p>Profiles!</p>
			<div class="grid auto-rows-min gap-4 md:grid-cols-3">
				<div class="aspect-video rounded-xl bg-green-200" />
				<div class="aspect-video rounded-xl bg-green-200" />
				<div class="aspect-video rounded-xl bg-green-200" />
			</div>
			<div class="min-h-[100dvh] flex-1 rounded-xl bg-green-200" />
		</div>
	</div>
</MainLayout>
