---
import MainLayout from '@/layouts/MainLayout.astro';
import UsersList from '@/components/blocks/UsersList.astro'
---
<MainLayout title="Users">
  <div>
		<div class="flex flex-1 flex-col gap-4">
			<p>Users, right?</p>
			<UsersList server:defer>
				<p slot="fallback">Loading users...</p>
			</UsersList>
		</div>
	</div>
</MainLayout>
