---
import MainLayout from "@/layouts/MainLayout.astro"
---
<MainLayout>
  <div class="flex flex-1 flex-col gap-4 p-5">
    <div class="grid auto-rows-min gap-4 md:grid-cols-3">
        <div class="aspect-video rounded-xl bg-muted/90" />
        <div class="aspect-video rounded-xl bg-muted/90" />
        <div class="aspect-video rounded-xl bg-muted/90" />
    </div>
    <div class="min-h-[100dvh] flex-1 rounded-xl bg-muted/90" />
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
    <h1>Index file h1</h1>
  </div>
</MainLayout>
