---
import MainLayout from "@/layouts/MainLayout.astro"
---
<MainLayout>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
  <h1>Index file h1</h1>
</MainLayout>
