---
import '../styles/global.css';
import AppSidebar from '@/components/blocks/AppSidebar.vue';
interface Props {
  title: string;
  description?: string;
  publishDate?: string;
  viewCount?: number;
}
const { title } = Astro.props;
// const color = 'white';
// const colorMode = useColorMode()
// const color = computed(() => colorMode.value === 'dark' ? '#1b1718' : 'white');
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="manifest" href="/site.webmanifest">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<AppSidebar
			client:load
			title={title}>
			<slot />
		</AppSidebar>
	</body>
</html>
