---
import LayoutSidebar from '@/components/block/LayoutSidebar.vue';
const { pathname } = Astro.url;
---


<html lang="en" style="overscroll-behavior: none">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>
</head>

<LayoutSidebar client:load urlPathName={pathname}>
  <slot />
</LayoutSidebar>
</html>
